*{
    margin: 0px;
    padding: 0px;
}

.container{
    text-align: center;
    margin: 20px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

table{
    margin: auto;
}

input{
    font-size: 30px;
    border: 5px solid rgb(108, 178, 206);
    border-radius: 15px;
    width: 400px;
    height: 40px;
    margin: 10px;
}

button{
    font-size: 35px;
    color: white;
    width: 102px;
    height: 55px;
    border-radius: 10px;
}

.calculator{
    display: inline-block;
    background-color: #8e9696;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid black;
}

.gray{
    background-color: #8e9696;
}

.red{
    background-color: rgb(241, 137, 137);
}

.blue{
    background-color: rgb(108, 178, 206);
}